<!-- TESTIMONIALS 4 & CLIENTS 2 -->
<div class="page-section p-130-cont bg-gray">
    <div class="container">

        <!-- CLIENTS 2 -->
        <div class="row mt-30">

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/2-9.png">
            </div>

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/3.png">
            </div>

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/5.png">
            </div>

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/4.png">
            </div>

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/8.png">
            </div>

            <div class="col-xs-6 col-sm-2 client2-item">
                <img alt="client" src="images/2.png">
            </div>

        </div>
    </div>
</div>