<!-- ADS 4 FONT RALEWAY -->
<div class="page-section">
    <div class="container-fluid">
        <div data-equal=".equal-height3" class="row">

            <div class="col-md-6  equal-height3" style="height: 545px;">
                <div class="fes2-main-text-cont">
                    <div class="fes2-title-45 font-raleway font-light">
                        Powerful<br>
                        Options
                    </div>
                    <div class="fes2-text-cont">Sed nec pretium velit integer cursus pretium nulla molestie,
                        eget scelerisque ante
                    </div>
                    <div class="mt-30">
                        <a class="button medium rounded gray-light"
                           href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 wow fadeInRight equal-height3 ads3-img-cont"
                 style="height: 545px; visibility: hidden; animation-name: none;">

                <div class="row row-sm-fix absolute pos-rb-0">
                    <img src="images/fes-watches.jpg" alt="img">
                </div>

            </div>

        </div>
    </div>
</div>