<!-- SLIDER Revo Hero 1 FONT MONTSERRAT -->
<div class="relative">

    <div class="rev_slider_wrapper fullscreen-container" id="rev_slider_280_1_wrapper"
         style="background-color:#fff;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
        <div class="rev_slider fullscreenbanner" data-version="5.1.4" id="rev_slider_280_1"
             style="display:none;">
            <ul>
                <!-- SLIDE -->
                <li data-description="" data-easein="Power2.easeInOut" data-easeout="default"
                    data-index="rs-898" data-masterspeed="1500" data-param1="" data-param10="" data-param2=""
                    data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                    data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default"
                    data-title="Slide" data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img alt="img" class="rev-slidebg" data-bgparallax="12" data-bgposition="center center"
                         data-duration="30000" data-ease="Linear.easeNone" data-no-retina=""
                         src="images/revo-slider/index-fullscreen.jpg">
                    <!-- LAYERS -->

                    <% if (!is_mobile) { %>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-251-layer-1"
                         data-x="['right','right','center','center']" data-hoffset="['-254','-453','70','60']"
                         data-y="['middle','middle','middle','bottom']" data-voffset="['50','50','211','25']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="2500"
                         data-responsive_offset="on"


                         style="z-index: 5;"><img src="images/revo-slider/macbookpro.png" alt="" width="1000"
                                                  height="600" data-ww="['1000px','1000px','500px','350px']"
                                                  data-hh="['600px','600px','300px','210px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-251-layer-2"
                         data-x="['left','left','center','center']" data-hoffset="['667','865','70','60']"
                         data-y="['top','top','top','bottom']" data-voffset="['266','216','580','63']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="3350"
                         data-responsive_offset="on"

                         style="z-index: 6;"><img src="images/revo-slider/express_macbook_content2.jpg" alt=""
                                                  width="653" height="408"
                                                  data-ww="['653px','653px','330px','230px']"
                                                  data-hh="['408px','408px','206px','144px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-251-layer-3"
                         data-x="['left','left','center','center']" data-hoffset="['533','633','-110','-60']"
                         data-y="['top','top','top','bottom']" data-voffset="['253','203','590','20']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="2750"
                         data-responsive_offset="on"

                         style="z-index: 7;"><img src="images/revo-slider/ipad.png" alt="" width="430"
                                                  height="540" data-ww="['430px','430px','200px','170px']"
                                                  data-hh="['540px','540px','251px','213px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-251-layer-4"
                         data-x="['left','left','left','center']" data-hoffset="['603','703','212','-60']"
                         data-y="['top','top','top','bottom']" data-voffset="['341','291','632','50']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="3700"
                         data-responsive_offset="on"

                         style="z-index: 8;"><img src="images/revo-slider/express_ipad_content2.jpg" alt=""
                                                  width="290" height="374"
                                                  data-ww="['290px','290px','135px','115px']"
                                                  data-hh="['374px','374px','174px','148px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-251-layer-5"
                         data-x="['left','left','left','left']" data-hoffset="['490','553','127','58']"
                         data-y="['top','top','top','top']" data-voffset="['348','297','622','529']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="3000"
                         data-responsive_offset="on"


                         style="z-index: 9;"><img src="images/revo-slider/ihpone.png" alt="" width="260"
                                                  height="450" data-ww="['260px','260px','130px','100px']"
                                                  data-hh="['450px','450px','225px','173px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme"
                         id="slide-251-layer-6"
                         data-x="['left','left','left','left']" data-hoffset="['535','598','150','75']"
                         data-y="['top','top','top','top']" data-voffset="['431','379','663','560']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                         data-start="3950"
                         data-responsive_offset="on"


                         style="z-index: 10;"><img src="images/revo-slider/express_iphone_content2.jpg" alt=""
                                                   width="170" height="286"
                                                   data-ww="['171px','170px','85px','66px']"
                                                   data-hh="['286px','286px','143px','111px']" data-no-retina>
                    </div>
                    <% } %>
                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption WebProduct-Title   tp-resizeme font-poppins font-white"
                         id="slide-251-layer-7"
                         data-fontweight="300"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                         data-y="['middle','middle','top','top']" data-voffset="['-80','-80','137','130']"
                         data-fontsize="['90','90','75','75']"
                         data-lineheight="['90','90','75','70']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 11; white-space: nowrap;">Creative<br>Studio
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption WebProduct-SubTitle   tp-resizeme font-poppins font-white"
                         id="slide-251-layer-10"
                         data-fontweight="400"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                         data-y="['middle','middle','top','top']" data-voffset="['44','44','294','277']"
                         data-fontsize="['15','15','15','13']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1250"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">BRANDING /
                        DESIGN / DEVELOPMENT
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption WebProduct-Content tp-resizeme font-poppins font-white"
                         id="slide-251-layer-9"
                         data-fontweight="300"
                         data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                         data-y="['middle','middle','top','top']" data-voffset="['129','127','345','316']"
                         data-fontsize="['16','16','16','14']"
                         data-lineheight="['24','24','24','22']"
                         data-width="['448','356','334','277']"
                         data-height="['none','none','76','68']"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"

                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"


                         style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">Lorem
                        ipsum dolor sit amet, consectetur.<br>
                        Maecenas sed pesque velit.
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption"
                         id="slide-251-layer-8"
                         data-x="['left','left','left','center']" data-hoffset="['30','30','200','0']"
                         data-y="['middle','middle','top','top']" data-voffset="['268','268','456','420']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"

                         data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                         data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                         data-start="1750"
                         data-splitin="none"
                         data-splitout="none"

                         data-responsive_offset="on"
                         data-responsive="off"

                         style="z-index: 8; white-space: nowrap;outline:none;"><a
                                class="tp-button1 button medium full-rounded hover-dark white "
                                href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">PURCHASE</a><a
                                class="tp-button1 button medium full-rounded thin  white ml-20"
                                href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">READ MORE</a>
                    </div>


                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->

    <!-- SCROLL ICON -->
    <div class="local-scroll-cont font-white">
        <a href="#about" class="scroll-down smooth-scroll">
            <div class="icon icon-arrows-down"></div>
        </a>
    </div>

</div>