<!-- CALL TO ACTION FONT RALEWAY -->
<div class="page-section bg-g-b-grad">
    <div class="container">
        <div class="video-ads-text-cont p-130-cont clearfix">
            <div class="section-title2 font-raleway font-white font-light p-0">Download the App Now</div>
            <div>
                <a class="hover-op-70 pb-0" href="http://themeforest.net/user/abcgomel/portfolio"
                   title="app store"><img src="images/app-store.png" alt="app store"></a><a
                        class="hover-op-70 pb-0" href="http://themeforest.net/user/abcgomel/portfolio"
                        title="android store"><img src="images/android-market.png" alt="android store"></a>
            </div>
        </div>
    </div>
</div>