<!-- FOOTER 1 FONT WHITE only social links -->
<footer id="footer2" class="page-section text-center p-100-cont bg-g-b-grad">
    <div class="container">

        <!-- Social Links -->
        <div class="footer-soc-a">
            <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
               title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
               title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
               title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
            <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
               title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
               title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>

    </div>
</footer>