<!DOCTYPE html>
<html>
<head>
    <title>Flyer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Elementy - Responsive HTML5 Template">
    <meta name="author" content="Vladimir Azarushkin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#7b65d2">
    <!--<link rel="shortcut icon" href="images/favicon/favicon.png">-->
    <!--<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">-->
    <!--<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">-->
    <!--<link rel="icon" sizes="192x192" href="images/favicon/icon-192x192.png">-->

    <link href="bundle/bundle.min.css" rel="stylesheet">
</head>
<body>

<!-- LOADER -->
<div id="loader-overflow">
    <div id="loader3" class="loader-cont">Please enable JS</div>
</div>

<div id="wrap" class="boxed ">
    <div class="grey-bg"> <!-- Grey BG  -->

        <!-- HEADER 1 FONT WHITE TRANSPARENT -->
        <div class="header-black-bg"></div> <!-- NEED FOR TRANSPARENT HEADER ON MOBILE -->