<!DOCTYPE html>
<html>
<head>
    <title>Elementy - Responsive HTML5 Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Elementy - Responsive HTML5 Template">
    <meta name="author" content="Vladimir Azarushkin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#2a2b2f">
    <link rel="shortcut icon" href="images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="192x192" href="images/favicon/icon-192x192.png">

    <link href="bundle/bundle.min.css" rel="stylesheet">
</head>
<body>

<!-- LOADER -->
<div id="loader-overflow">
    <div id="loader3" class="loader-cont">Please enable JS</div>
</div>

<div id="wrap" class="boxed ">
    <div class="grey-bg"> <!-- Grey BG  -->

        <!-- HEADER 1 FONT WHITE TRANSPARENT -->
        <div class="header-black-bg"></div> <!-- NEED FOR TRANSPARENT HEADER ON MOBILE -->
        <header id="nav" class="header header-1 header-black">
            <div class="header-wrapper">
                <div class="container-m-30 clearfix">
                    <div class="logo-row">

                        <!-- LOGO -->
                        <div class="logo-container-2">
                            <div class="logo-2">
                                <a class="clearfix">
                                    <img src="images/logo-white.png" class="logo-img" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <!-- BUTTON -->
                        <div class="menu-btn-respons-container">
                            <button id="menu-btn" type="button" class="navbar-toggle btn-navbar collapsed"
                                    data-toggle="collapse" data-target="#main-menu .navbar-collapse">
                                <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- MAIN MENU CONTAINER -->
                <div class="main-menu-container">

                    <div class="container-m-30 clearfix">

                        <!-- MAIN MENU -->
                        <div id="main-menu">
                            <div class="navbar navbar-default" role="navigation">

                                <!-- MAIN MENU LIST -->
                                <nav class="collapse collapsing navbar-collapse right-1024">
                                    <ul class="nav navbar-nav">

                                        <!-- MENU ITEM -->
                                        <li class="parent current">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Home</div>
                                            </a>
                                            <ul class="sub">
                                                <li class="parent">
                                                    <a class="open-sub" href="#">Home</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Blog</a>
                                                    <ul class="sub">
                                                        <li><a>Blog Layout 1</a></li>
                                                        <li><a>Blog Layout 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="current open-sub">Landing</a>
                                                    <ul class="sub">
                                                        <li><a class="current">Landing 1</a>
                                                        </li>
                                                        <li><a>Landing 2</a></li>
                                                        <li><a>Landing 3</a></li>
                                                        <li><a>App Landing</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Minimal Menu</a>
                                                    <ul class="sub">
                                                        <li><a>Side Menu</a></li>
                                                        <li><a>Fullscreen Menu</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Finance</a>
                                                    <ul class="sub">
                                                        <li><a>Finance</a></li>
                                                        <li><a>Finance 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Construction</a>
                                                    <ul class="sub">
                                                        <li><a>Construction</a></li>
                                                        <li><a>Construction 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a>Portfolio</a></li>
                                                <li><a>Photo</a></li>
                                                <li><a>Shop</a></li>
                                                <li><a>Car Tuning</a></li>
                                                <li><a>About Me</a></li>
                                                <li><a>Travel</a></li>
                                                <li><a>Magazine</a></li>
                                                <li><a>One Page</a></li>

                                            </ul>
                                        </li>

                                        <!-- MENU ITEM -->
                                        <li class="parent">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Features</div>
                                            </a>
                                            <ul class="sub">
                                                <li><a>Loaders</a></li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Headers</a>
                                                    <ul class="sub">
                                                        <li><a>Boxed</a></li>
                                                        <li><a>Bottom</a></li>
                                                        <li><a>Black Transp</a></li>
                                                        <li><a>Black No Transp</a></li>
                                                        <li><a>White Transp</a></li>
                                                        <li><a>White No Transp</a></li>
                                                        <li><a>Shop</a></li>
                                                        <li><a>Side Menu</a></li>
                                                        <li><a>Min Menu</a></li>
                                                        <li><a>Min Menu 2</a></li>

                                                        <li><a>Top Bar</a></li>
                                                        <li><a>Magazine</a></li>
                                                        <li><a>Country Flag</a></li>
                                                        <li><a>Login</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Static Media</a>
                                                    <ul class="sub">
                                                        <li><a>Image</a></li>
                                                        <li><a>Parallax</a></li>
                                                        <li><a>Text Rotator</a></li>
                                                        <li><a>HTML5 Video</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Revo Slider</a>
                                                    <ul class="sub">
                                                        <li><a>Full-Width</a></li>
                                                        <li><a>Full-Screen</a></li>
                                                        <li><a>Video</a></li>
                                                        <li><a>Ken Burns</a></li>
                                                        <li><a>All Demo</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Page Titles</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Footers</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                        <!-- MEGA MENU ITEM -->
                                        <li class="parent megamenu">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Elements</div>
                                            </a>
                                            <ul class="sub">
                                                <li class="clearfix">

                                                    <div class="menu-sub-container">

                                                        <div class="box col-md-3 ">
                                                            <ul>
                                                                <li><a>Home 1</a></li>
                                                                <li><a>Home 2</a></li>
                                                                <li><a>Home 3</a></li>
                                                                <li><a>Home 4</a></li>
                                                                <li><a>Home 5</a></li>
                                                                <li><a>Home 6</a></li>
                                                                <li><a>Home 7</a></li>
                                                                <li><a>Home 8</a></li>
                                                                <li><a>Home 9</a></li>
                                                                <li><a>Home 10</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3">
                                                            <ul>
                                                                <li><a>Home 1</a></li>
                                                                <li><a>Home 2</a></li>
                                                                <li><a>Home 3</a></li>
                                                                <li><a>Home 4</a></li>
                                                                <li><a>Home 5</a></li>
                                                                <li><a>Home 6</a></li>
                                                                <li><a>Home 7</a></li>
                                                                <li><a>Home 8</a></li>
                                                                <li><a>Home 9</a></li>
                                                                <li><a>Home 10</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3">
                                                            <ul>
                                                                <li><a>Home 1</a></li>
                                                                <li><a>Home 2</a></li>
                                                                <li><a>Home 3</a></li>
                                                                <li><a>Home 4</a></li>
                                                                <li><a>Home 5</a></li>
                                                                <li><a>Home 6</a></li>
                                                                <li><a>Home 7</a></li>
                                                                <li><a>Home 8</a></li>
                                                                <li><a>Home 9</a></li>
                                                                <li><a>Home 10</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3 ">
                                                            <ul>
                                                                <li><a>Home 1</a></li>
                                                                <li><a>Home 2</a></li>
                                                                <li><a>Home 3</a></li>
                                                                <li><a>Home 4</a></li>
                                                                <li><a>Home 5</a></li>
                                                                <li><a>Home 6</a></li>
                                                                <li><a>Home 7</a></li>
                                                                <li><a>Home 8</a></li>
                                                                <li><a>Home 9</a></li>
                                                                <li><a>Home 10</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </li>
                                            </ul>
                                        </li>

                                        <!-- MENU ITEM -->
                                        <li class="parent">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Portfolio</div>
                                            </a>
                                            <ul class="sub">
                                                <li><a>Home 1</a></li>
                                                <li><a>Home 2</a></li>
                                                <li><a>Home 3</a></li>
                                                <li><a>Home 4</a></li>
                                                <li><a>Home 5</a></li>
                                                <li><a>Home 6</a></li>
                                                <li><a>Home 7</a></li>
                                                <li><a>Home 8</a></li>
                                                <li><a>Home 9</a></li>
                                                <li><a>Home 10</a></li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Boxed</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Boxed bordered</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Wide</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Wide bordered</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Masonry</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Portfolio Single</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- MENU ITEM -->
                                        <li class="parent">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Blog</div>
                                            </a>
                                            <ul class="sub">
                                                <li><a>Home 1</a></li>
                                                <li><a>Home 2</a></li>
                                                <li><a>Home 3</a></li>
                                                <li><a>Home 4</a></li>
                                                <li><a>Home 5</a></li>
                                                <li><a>Home 6</a></li>
                                                <li><a>Home 7</a></li>
                                                <li><a>Home 8</a></li>
                                                <li><a>Home 9</a></li>
                                                <li><a>Home 10</a></li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Blog Masonry</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                                <li><a>Home 1</a></li>
                                                <li><a>Home 2</a></li>
                                                <li><a>Home 3</a></li>
                                                <li><a>Home 4</a></li>
                                                <li><a>Home 5</a></li>
                                                <li><a>Home 6</a></li>
                                                <li><a>Home 7</a></li>
                                                <li><a>Home 8</a></li>
                                                <li><a>Home 9</a></li>
                                                <li><a>Home 10</a></li>
                                                <li class="parent">
                                                    <a href="#" class="open-sub">Blog Single</a>
                                                    <ul class="sub">
                                                        <li><a>Home 1</a></li>
                                                        <li><a>Home 2</a></li>
                                                        <li><a>Home 3</a></li>
                                                        <li><a>Home 4</a></li>
                                                        <li><a>Home 5</a></li>
                                                        <li><a>Home 6</a></li>
                                                        <li><a>Home 7</a></li>
                                                        <li><a>Home 8</a></li>
                                                        <li><a>Home 9</a></li>
                                                        <li><a>Home 10</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- MENU ITEM -->
                                        <li class="parent">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Shop</div>
                                            </a>
                                            <ul class="sub">
                                                <li><a>Home 1</a></li>
                                                <li><a>Home 2</a></li>
                                                <li><a>Home 3</a></li>
                                                <li><a>Home 4</a></li>
                                                <li><a>Home 5</a></li>
                                                <li><a>Home 6</a></li>
                                                <li><a>Home 7</a></li>
                                                <li><a>Home 8</a></li>
                                                <li><a>Home 9</a></li>
                                                <li><a>Home 10</a></li>
                                            </ul>
                                        </li>

                                        <!-- MEGA MENU ITEM -->
                                        <li class="parent megamenu">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Pages</div>
                                            </a>
                                            <ul class="sub">
                                                <li>

                                                    <div class="menu-sub-container">

                                                        <div class="box col-md-3 nofloat closed">
                                                            <h5 class="title open-sub">Pages 01</h5>
                                                            <ul>
                                                                <li><a>Typography</a></li>
                                                                <li><a>Grid System</a></li>
                                                                <li><a>Services</a></li>
                                                                <li><a>Services 2</a></li>
                                                                <li><a>Login / Register</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3 nofloat closed">
                                                            <h5 class="title open-sub">Pages 02</h5>
                                                            <ul>
                                                                <li><a>Shortcodes</a></li>
                                                                <li><a>Coming Soon</a></li>
                                                                <li><a>Coming Soon 2</a></li>
                                                                <li><a>404 Error</a></li>
                                                                <li><a>Maintenance Page</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3 nofloat closed">
                                                            <h5 class="title open-sub">Pages 03</h5>
                                                            <ul>
                                                                <li><a>About Us</a></li>
                                                                <li><a>About Us 2</a></li>
                                                                <li><a>About Me</a></li>
                                                                <li><a>Team</a></li>
                                                                <li><a>Loaders</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="box col-md-3 nofloat closed">
                                                            <h5 class="title open-sub">Pages 04</h5>
                                                            <ul>
                                                                <li><a>FAQ</a></li>
                                                                <li><a>Layout Full Width</a></li>
                                                                <li><a>Layout Left Sidebar</a></li>
                                                                <li><a>Layout Right Sidebar</a></li>
                                                            </ul>
                                                        </div>

                                                    </div>

                                                </li>
                                            </ul>
                                        </li>

                                        <!-- MENU ITEM -->
                                        <li id="menu-contact-info-big" class="parent megamenu">
                                            <a href="#" class="open-sub">
                                                <div class="main-menu-title">Contact</div>
                                            </a>
                                            <ul class="sub">
                                                <li class="clearfix">
                                                    <div class="menu-sub-container">

                                                        <div class="box col-md-3 menu-demo-info closed">
                                                            <h5 class="title open-sub">Contact Pages</h5>
                                                            <ul>
                                                                <li><a>Contact Version 1</a></li>
                                                                <li><a>Contact Version 2</a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-md-3 menu-contact-info">
                                                            <ul class="contact-list">
                                                                <li class="contact-loc clearfix">
                                                                    <div class="loc-icon-container">
                                                                        <div class="icon icon-basic-map main-menu-contact-icon"></div>
                                                                    </div>
                                                                    <div class="menu-contact-text-container">555
                                                                        California str, Suite 100
                                                                    </div>
                                                                </li>
                                                                <li class="contact-phone clearfix">
                                                                    <div class="loc-icon-container">
                                                                        <div class="icon icon-basic-smartphone main-menu-contact-icon"></div>
                                                                    </div>
                                                                    <div class="menu-contact-text-container">
                                                                        1-80-100-10, 1-80-300-10
                                                                    </div>
                                                                </li>
                                                                <li class="contact-mail clearfix">
                                                                    <div class="loc-icon-container">
                                                                        <div class="icon icon-basic-mail main-menu-contact-icon"></div>
                                                                    </div>
                                                                    <div class="menu-contact-text-container">
                                                                        <a class="a-mail"
                                                                           href="mailto:info@haswell.com">info@haswell.com</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-md-6 menu-map-container hide-max-960 ">
                                                            <!-- Google Maps -->
                                                            <div class="google-map-container">
                                                                <img src="/images/map-line.png" alt="alt">
                                                            </div>
                                                            <!-- Google Maps / End -->
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>

                                </nav>

                            </div>
                        </div>
                        <!-- END main-menu -->

                    </div>
                    <!-- END container-m-30 -->

                </div>
                <!-- END main-menu-container -->

                <!-- SEARCH READ DOCUMENTATION -->
                <ul class="cd-header-buttons">
                    <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
                </ul> <!-- cd-header-buttons -->
                <div id="cd-search" class="cd-search">
                    <form class="form-search" id="searchForm" method="get">
                        <input type="text" value="" name="q" id="q" placeholder="Search...">
                    </form>
                </div>

            </div>
            <!-- END header-wrapper -->

        </header>

        <!-- SLIDER Revo Hero 1 FONT MONTSERRAT -->
        <div class="relative">

            <div class="rev_slider_wrapper fullscreen-container" id="rev_slider_280_1_wrapper"
                 style="background-color:#fff;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.1.4 fullscreen mode -->
                <div class="rev_slider fullscreenbanner" data-version="5.1.4" id="rev_slider_280_1"
                     style="display:none;">
                    <ul>
                        <!-- SLIDE -->
                        <li data-description="" data-easein="Power2.easeInOut" data-easeout="default"
                            data-index="rs-898" data-masterspeed="1500" data-param1="" data-param10="" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                            data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default"
                            data-title="Slide" data-transition="fade">
                            <!-- MAIN IMAGE -->
                            <img alt="img" class="rev-slidebg" data-bgparallax="12" data-bgposition="center center"
                                 data-duration="30000" data-ease="Linear.easeNone" data-no-retina=""
                                 src="images/revo-slider/index-fullscreen.jpg">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-251-layer-1"
                                 data-x="['right','right','center','center']" data-hoffset="['-254','-453','70','60']"
                                 data-y="['middle','middle','middle','bottom']" data-voffset="['50','50','211','25']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="2500"
                                 data-responsive_offset="on"


                                 style="z-index: 5;"><img src="images/revo-slider/macbookpro.png" alt="" width="1000"
                                                          height="600" data-ww="['1000px','1000px','500px','350px']"
                                                          data-hh="['600px','600px','300px','210px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-251-layer-2"
                                 data-x="['left','left','center','center']" data-hoffset="['667','865','70','60']"
                                 data-y="['top','top','top','bottom']" data-voffset="['266','216','580','63']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-start="3350"
                                 data-responsive_offset="on"

                                 style="z-index: 6;"><img src="images/revo-slider/express_macbook_content2.jpg" alt=""
                                                          width="653" height="408"
                                                          data-ww="['653px','653px','330px','230px']"
                                                          data-hh="['408px','408px','206px','144px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-251-layer-3"
                                 data-x="['left','left','center','center']" data-hoffset="['533','633','-110','-60']"
                                 data-y="['top','top','top','bottom']" data-voffset="['253','203','590','20']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="2750"
                                 data-responsive_offset="on"

                                 style="z-index: 7;"><img src="images/revo-slider/ipad.png" alt="" width="430"
                                                          height="540" data-ww="['430px','430px','200px','170px']"
                                                          data-hh="['540px','540px','251px','213px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-251-layer-4"
                                 data-x="['left','left','left','center']" data-hoffset="['603','703','212','-60']"
                                 data-y="['top','top','top','bottom']" data-voffset="['341','291','632','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-start="3700"
                                 data-responsive_offset="on"

                                 style="z-index: 8;"><img src="images/revo-slider/express_ipad_content2.jpg" alt=""
                                                          width="290" height="374"
                                                          data-ww="['290px','290px','135px','115px']"
                                                          data-hh="['374px','374px','174px','148px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-resizeme"
                                 id="slide-251-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['490','553','127','58']"
                                 data-y="['top','top','top','top']" data-voffset="['348','297','622','529']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="3000"
                                 data-responsive_offset="on"


                                 style="z-index: 9;"><img src="images/revo-slider/ihpone.png" alt="" width="260"
                                                          height="450" data-ww="['260px','260px','130px','100px']"
                                                          data-hh="['450px','450px','225px','173px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-251-layer-6"
                                 data-x="['left','left','left','left']" data-hoffset="['535','598','150','75']"
                                 data-y="['top','top','top','top']" data-voffset="['431','379','663','560']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-start="3950"
                                 data-responsive_offset="on"


                                 style="z-index: 10;"><img src="images/revo-slider/express_iphone_content2.jpg" alt=""
                                                           width="170" height="286"
                                                           data-ww="['171px','170px','85px','66px']"
                                                           data-hh="['286px','286px','143px','111px']" data-no-retina>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption WebProduct-Title   tp-resizeme font-poppins font-white"
                                 id="slide-251-layer-7"
                                 data-fontweight="300"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                                 data-y="['middle','middle','top','top']" data-voffset="['-80','-80','137','130']"
                                 data-fontsize="['90','90','75','75']"
                                 data-lineheight="['90','90','75','70']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 11; white-space: nowrap;">Creative<br>Studio
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption WebProduct-SubTitle   tp-resizeme font-poppins font-white"
                                 id="slide-251-layer-10"
                                 data-fontweight="400"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                                 data-y="['middle','middle','top','top']" data-voffset="['44','44','294','277']"
                                 data-fontsize="['15','15','15','13']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="1250"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 12; white-space: nowrap;letter-spacing:2px;font-weight:500;">BRANDING /
                                DESIGN / DEVELOPMENT
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption WebProduct-Content tp-resizeme font-poppins font-white"
                                 id="slide-251-layer-9"
                                 data-fontweight="300"
                                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                                 data-y="['middle','middle','top','top']" data-voffset="['129','127','345','316']"
                                 data-fontsize="['16','16','16','14']"
                                 data-lineheight="['24','24','24','22']"
                                 data-width="['448','356','334','277']"
                                 data-height="['none','none','76','68']"
                                 data-whitespace="normal"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="1500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">Lorem
                                ipsum dolor sit amet, consectetur.<br>
                                Maecenas sed pesque velit.
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption"
                                 id="slide-251-layer-8"
                                 data-x="['left','left','left','center']" data-hoffset="['30','30','200','0']"
                                 data-y="['middle','middle','top','top']" data-voffset="['268','268','456','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                                 data-start="1750"
                                 data-splitin="none"
                                 data-splitout="none"

                                 data-responsive_offset="on"
                                 data-responsive="off"

                                 style="z-index: 8; white-space: nowrap;outline:none;"><a
                                        class="tp-button1 button medium full-rounded hover-dark white "
                                        href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">PURCHASE</a><a
                                        class="tp-button1 button medium full-rounded thin  white ml-20"
                                        href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">READ MORE</a>
                            </div>


                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->

            <!-- SCROLL ICON -->
            <div class="local-scroll-cont font-white">
                <a href="#about" class="scroll-down smooth-scroll">
                    <div class="icon icon-arrows-down"></div>
                </a>
            </div>

        </div>


        <!-- FEATURES 6 FONT RALEWAY -->
        <div class="page-section pt-120-b-100-cont">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 pb-20">
                        <div class="fes1-main-title-cont wow fadeInUp"
                             style="visibility: visible; animation-name: fadeInUp;">
                            <div class="fes15-title-32 font-raleway text-sm-center">
                                Create your<br>App page
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-md-4 col-sm-4">
                                <div class="fes6-box wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <div class="icon icon-basic-laptop"></div>
                                    <h3 class="font-raleway">Fully Responsive</h3>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="fes6-box wow fadeIn" data-wow-delay="200ms"
                                     style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                                    <div class="icon icon-basic-keyboard"></div>
                                    <h3 class="font-raleway">Retina Ready</h3>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="fes6-box wow fadeIn" data-wow-delay="400ms"
                                     style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
                                    <div class="icon icon-basic-globe"></div>
                                    <h3 class="font-raleway">Unique Design</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- FEATURES 19 APP GIF FONT RALEWAY -->
        <div class="page-section bg-gray-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img class="mt-40" src="images/app.gif" alt="img">
                    </div>
                    <div class="col-md-6">
                        <div class="fes2-main-text-cont">
                            <div class="fes2-title-45 font-raleway font-light">
                                Manage projects<br>easily
                            </div>
                            <div class="fes2-text-cont">Sed ut perspiciatis unde omnis iste nat eror acus antium que.
                                Asperiores, ea velit enim labore doloribus.
                            </div>
                            <div class="fes12-btn-cont mt-30">
                                <a class="button medium thin rounded purple btn-4 btn-4cc"
                                   href="http://abcgomel.ru/elementy/index-landing-app.html#"><span
                                            class="button-text-anim">Read More</span><span aria-hidden="true"
                                                                                           class="button-icon-anim arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADS 3 FONT RALEWAY -->
        <div class="page-section">
            <div class="container-fluid">
                <div data-equal=".equal-height2" class="row">

                    <div class="col-md-6 pos-l-md-50pc equal-height2" style="height: 545px;">
                        <div class="fes2-main-text-cont">
                            <div class="fes2-title-45 font-raleway font-light">
                                Easy to<br>
                                Customize
                            </div>
                            <div class="fes2-text-cont">Sed nec pretium velit integer cursus pretium nulla molestie,
                                eget scelerisque ante
                            </div>
                            <div class="mt-30">
                                <a class="button medium rounded gray-light"
                                   href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 pos-r-md-50pc wow fadeInLeft equal-height2 ads3-img-cont"
                         style="height: 545px; visibility: hidden; animation-name: none;">

                        <div class="row row-sm-fix absolute pos-v-center pos-l-0">
                            <img src="images/fes-noute2.jpg" alt="img">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ADS 4 FONT RALEWAY -->
        <div class="page-section">
            <div class="container-fluid">
                <div data-equal=".equal-height3" class="row">

                    <div class="col-md-6  equal-height3" style="height: 545px;">
                        <div class="fes2-main-text-cont">
                            <div class="fes2-title-45 font-raleway font-light">
                                Powerful<br>
                                Options
                            </div>
                            <div class="fes2-text-cont">Sed nec pretium velit integer cursus pretium nulla molestie,
                                eget scelerisque ante
                            </div>
                            <div class="mt-30">
                                <a class="button medium rounded gray-light"
                                   href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInRight equal-height3 ads3-img-cont"
                         style="height: 545px; visibility: hidden; animation-name: none;">

                        <div class="row row-sm-fix absolute pos-rb-0">
                            <img src="images/fes-watches.jpg" alt="img">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- FEATURES 14 TABS FONT RALEWAY -->
        <div class="page-section bg-b-p-grad">
            <div class="container">

                <!-- TABS NAV -->
                <div class="row">
                    <div class="col-md-12">

                        <ul class="fes14-nav-tabs nav nav-tabs bootstrap-tabs">
                            <li class="active"><a href="http://abcgomel.ru/elementy/index-landing-app.html#web-design"
                                                  class="fes14-nav-a" data-toggle="tab">
                                    <div class="tab-nav-icon icon icon-basic-laptop font-white"></div>
                                    <div class="tab-nav-text font-raleway font-white">Web Design</div>
                                </a></li>
                            <li><a href="http://abcgomel.ru/elementy/index-landing-app.html#ui-design"
                                   class="fes14-nav-a" data-toggle="tab">
                                    <div class="tab-nav-icon icon icon-software-horizontal-align-center font-white"></div>
                                    <div class="tab-nav-text font-raleway font-white">UI/UX Design</div>
                                </a></li>
                            <li><a href="http://abcgomel.ru/elementy/index-landing-app.html#graphic-design"
                                   class="fes14-nav-a" data-toggle="tab">
                                    <div class="tab-nav-icon icon icon-basic-sheet-pen font-white"></div>
                                    <div class="tab-nav-text font-raleway font-white">Graphic Design</div>
                                </a></li>
                            <li><a href="http://abcgomel.ru/elementy/index-landing-app.html#branding-tab"
                                   class="fes14-nav-a" data-toggle="tab">
                                    <div class="tab-nav-icon icon icon-ecommerce-diamond font-white"></div>
                                    <div class="tab-nav-text font-raleway font-white">Branding</div>
                                </a></li>
                            <li><a href="http://abcgomel.ru/elementy/index-landing-app.html#development-tab"
                                   class="fes14-nav-a" data-toggle="tab">
                                    <div class="tab-nav-icon icon icon-basic-archive-full font-white"></div>
                                    <div class="tab-nav-text font-raleway font-white">Development</div>
                                </a></li>
                        </ul>

                    </div>
                </div>

                <!-- TABS CONTENT & IMAGES -->
                <div class="row">

                    <!-- TABS CONTENT -->
                    <div class="col-md-6">
                        <div class="fes14-tab-content tab-content">

                            <!-- TAB 1 -->
                            <div class="tab-pane fade in active" id="web-design">
                                <h1 class="fes14-tab-title font-raleway font-white"><strong>Elementy</strong></h1>
                                <h2 class="fes14-tab-sub-title font-raleway font-white"><strong>template for your
                                        business</strong></h2>
                                <p class="fes14-tab-text mb-60 font-white">
                                    Nulla sed vehicula leo. Nam volutpat dapibus nisi sed ultrices. Proin ullamcorper
                                    eget ex a cursus. In sed turpis at orci laoreet ultrices et vitae urna.
                                </p>
                                <div class="fes12-btn-cont mt-30">
                                    <a class="button medium thin rounded white"
                                       href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Get Started
                                        Now</a>
                                </div>
                            </div>

                            <!-- TAB 2 -->
                            <div class="tab-pane fade" id="ui-design">
                                <h1 class="fes14-tab-title font-raleway font-white"><strong>UI/UX Design</strong></h1>
                                <h2 class="fes14-tab-sub-title font-raleway font-white"><strong>enhancing user
                                        satisfaction</strong></h2>
                                <p class="fes14-tab-text mb-60 font-white">
                                    Nulla sed vehicula leo. Nam volutpat dapibus nisi sed ultrices. Proin ullamcorper
                                    eget ex a cursus. In sed turpis at orci laoreet ultrices et vitae urna.
                                </p>
                                <div class="fes12-btn-cont mt-30">
                                    <a class="button medium thin rounded white"
                                       href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Get Started
                                        Now</a>
                                </div>
                            </div>

                            <!-- TAB 3 -->
                            <div class="tab-pane fade" id="graphic-design">
                                <h1 class="fes14-tab-title font-raleway font-white"><strong>Graphic design</strong></h1>
                                <h2 class="fes14-tab-sub-title font-raleway font-white"><strong>process of visual
                                        communication</strong></h2>
                                <p class="fes14-tab-text mb-60 font-white">
                                    Nulla sed vehicula leo. Nam volutpat dapibus nisi sed ultrices. Proin ullamcorper
                                    eget ex a cursus. In sed turpis at orci laoreet ultrices et vitae urna.
                                </p>
                                <div class="fes12-btn-cont mt-30">
                                    <a class="button medium thin rounded white"
                                       href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Get Started
                                        Now</a>
                                </div>
                            </div>

                            <!-- TAB 4 -->
                            <div class="tab-pane fade" id="branding-tab">
                                <h1 class="fes14-tab-title font-raleway font-white"><strong>Branding</strong></h1>
                                <h2 class="fes14-tab-sub-title font-raleway font-white"><strong>creating and launching
                                        brands</strong></h2>
                                <p class="fes14-tab-text mb-60 font-white">
                                    Nulla sed vehicula leo. Nam volutpat dapibus nisi sed ultrices. Proin ullamcorper
                                    eget ex a cursus. In sed turpis at orci laoreet ultrices et vitae urna.
                                </p>
                                <div class="fes12-btn-cont mt-30">
                                    <a class="button medium thin rounded white"
                                       href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Get Started
                                        Now</a>
                                </div>
                            </div>

                            <!-- TAB 5 -->
                            <div class="tab-pane fade" id="development-tab">
                                <h1 class="fes14-tab-title font-raleway font-white"><strong>Apps &amp; sites</strong>
                                </h1>
                                <h2 class="fes14-tab-sub-title font-raleway font-white"><strong>apps &amp; web sites
                                        development</strong></h2>
                                <p class="fes14-tab-text mb-60 font-white">
                                    Nulla sed vehicula leo. Nam volutpat dapibus nisi sed ultrices. Proin ullamcorper
                                    eget ex a cursus. In sed turpis at orci laoreet ultrices et vitae urna.
                                </p>
                                <div class="fes12-btn-cont mt-30">
                                    <a class="button medium thin rounded white"
                                       href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Get Started
                                        Now</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- IMAGES -->
                    <div class="col-md-6 fes9-img-cont clearfix">
                        <div class="fes9-img-center clearfix">
                            <img src="images/fes9-black.png" alt="img" class="wow fadeInUp" data-wow-delay="150ms"
                                 data-wow-duration="1s"
                                 style="visibility: hidden; animation-duration: 1s; animation-delay: 150ms; animation-name: none;">
                            <img src="images/fes9-white.png" alt="img" class=" wow fadeInUp" data-wow-delay="450ms"
                                 data-wow-duration="1s"
                                 style="visibility: hidden; animation-duration: 1s; animation-delay: 450ms; animation-name: none;">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- APPS CAROUSEL FONT RALEWAY -->
        <div class="page-section pt-160-b-120-cont">
            <div class="container">

                <!-- TITLE -->
                <h2 class="section-title2 font-raleway font-light text-center p-0 mb-70">Apps Gallery</h2>

                <div class="owl-plugin owl-apps-prev owl-carousel owl-bg-white pb-20 owl-theme"
                     style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 3800px; left: 0px; display: block;">
                            <div class="owl-item" style="width: 380px;">
                                <div class="item m-bot-0 text-center"><img src="images/app1.jpg" alt="client"></div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="item m-bot-0 text-center"><img src="images/app2.jpg" alt="client"></div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="item m-bot-0 text-center"><img src="images/app3.jpg" alt="client"></div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="item m-bot-0 text-center"><img src="images/app4.jpg" alt="client"></div>
                            </div>
                            <div class="owl-item" style="width: 380px;">
                                <div class="item m-bot-0 text-center"><img src="images/app5.jpg" alt="client"></div>
                            </div>
                        </div>
                    </div>


                    <div class="owl-controls clickable">
                        <div class="owl-pagination">
                            <div class="owl-page active"><span class=""></span></div>
                            <div class="owl-page"><span class=""></span></div>
                        </div>
                        <div class="owl-buttons">
                            <div class="owl-prev"><span class="icon icon-arrows-left"></span></div>
                            <div class="owl-next"><i class="icon icon-arrows-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TESTIMONIALS 4 & CLIENTS 2 -->
        <div class="page-section p-130-cont bg-gray">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="mb-70">
                            <h2 class="section-title2 font-raleway font-light text-center p-0">What People Say</h2>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-6">
                        <div class="mb-30">
                            <div class="ts4-text-cont">
                                Maecenas at interdum odio. Curabitur consectetur interdum lectus, sit amet ultrices arcu
                                maximus non. Quisque a mauris id nibh facilisis dictum. Duis lobortis lorem consectetur,
                                lobortis.
                            </div>
                            <div class="ts4-author-cont clearfix">
                                <div class="ts4-author-img">
                                    <img src="images/ts-author3.jpg" class="img-circle" alt="img">
                                </div>
                                <div class="ts4-author-info">
                                    <div class="ts-name">Emma Banks</div>
                                    <div class="ts-type">Invision Inc</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-30">
                            <div class="ts4-text-cont">
                                Etiam varius quis magna eu efficitur. Proin non ortor ante. Nullam vel orci dictum,
                                bibendum nequena, ultrices metus. Praesent a mauris Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </div>
                            <div class="ts4-author-cont clearfix">
                                <div class="ts4-author-img">
                                    <img src="images/ts-author.jpg" class="img-circle" alt="img">
                                </div>
                                <div class="ts4-author-info">
                                    <div class="ts-name">Amanda Pollock</div>
                                    <div class="ts-type">Doogle Inc</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="mb-30">
                            <div class="ts4-text-cont">
                                Cras in tincidunt tellus. Integer eget massa nulla. Nullam mattis pellentesque turpis.
                                In at luctus turpis. Vivamus dapibus feugiat lacus, id tincidunt arcu. Praesent commodo
                                urna sit amet neque.
                            </div>
                            <div class="ts4-author-cont clearfix">
                                <div class="ts4-author-img">
                                    <img src="images/ts-author2.jpg" class="img-circle" alt="img">
                                </div>
                                <div class="ts4-author-info">
                                    <div class="ts-name">Colin Little</div>
                                    <div class="ts-type">CEO, Pixate</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="mb-30">
                            <div class="ts4-text-cont">
                                Etiam varius quis magna eu efficitur. Proin non ortor ante. Nullam vel orci dictum,
                                bibendum nequena, ultrices metus. Praesent a mauris Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </div>
                            <div class="ts4-author-cont clearfix">
                                <div class="ts4-author-img">
                                    <img src="images/ts-author4.jpg" class="img-circle" alt="img">
                                </div>
                                <div class="ts4-author-info">
                                    <div class="ts-name">Robert Jackson</div>
                                    <div class="ts-type">Founder, Drillbox</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- CLIENTS 2 -->
                <div class="row mt-30">

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/2-9.png">
                    </div>

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/3.png">
                    </div>

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/5.png">
                    </div>

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/4.png">
                    </div>

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/8.png">
                    </div>

                    <div class="col-xs-6 col-sm-2 client2-item">
                        <img alt="client" src="images/2.png">
                    </div>

                </div>
            </div>
        </div>

        <!-- CALL TO ACTION FONT RALEWAY -->
        <div class="page-section bg-g-b-grad">
            <div class="container">
                <div class="video-ads-text-cont p-130-cont clearfix">
                    <div class="section-title2 font-raleway font-white font-light p-0">Download the App Now</div>
                    <div>
                        <a class="hover-op-70 pb-0" href="http://themeforest.net/user/abcgomel/portfolio"
                           title="app store"><img src="images/app-store.png" alt="app store"></a><a
                                class="hover-op-70 pb-0" href="http://themeforest.net/user/abcgomel/portfolio"
                                title="android store"><img src="images/android-market.png" alt="android store"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- TWITTER FEED & NEWS LETTER FONT RALEWAY -->
        <div class="page-section pt-100-b-80-cont">
            <div class="container">

                <!-- NEWS LETTER FONT RALEWAY -->
                <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
                    <div class="relative">
                        <div id="mc_embed_signup" class="nl-form-container clearfix mt-20">
                            <form action="http://abcgomel.us9.list-manage.com/subscribe/post-json?u=ba37086d08bdc9f56f3592af0&amp;id=e38247f7cc&amp;c=?"
                                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                  class="newsletterform validate" target="_blank" novalidate="">
                                <!-- EDIT THIS ACTION URL (add "post-json?u" instead of "post?u" and appended "&amp;c=?" to the end of this URL) -->
                                <input type="email" value="" name="EMAIL" class="email nl-email-input font-raleway"
                                       id="mce-EMAIL" placeholder="Join newsletter" required="">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text"
                                                                                       name="b_ba37086d08bdc9f56f3592af0_e38247f7cc"
                                                                                       tabindex="-1" value=""></div>

                                <button id="mc-embedded-subscribe" class="nl2-btn" type="submit" name="subscribe">
                                    <span class="icon icon-arrows-slim-right"></span>
                                </button>
                            </form>
                            <div id="notification_container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER 1 FONT WHITE only social links -->
        <footer id="footer2" class="page-section text-center p-100-cont bg-g-b-grad">
            <div class="container">

                <!-- Social Links -->
                <div class="footer-soc-a">
                    <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
                       title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
                       title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
                       title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
                       title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a class="a-white" href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel"
                       title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
                </div>

            </div>
        </footer>
        <!-- BACK TO TOP -->
        <p id="back-top" style="display: none;">
            <a href="http://abcgomel.ru/elementy/index-landing-app.html#top" title="Back to Top"><span
                        class="icon icon-arrows-up"></span></a>
        </p>

    </div><!-- End BG -->
</div><!-- End wrap -->

<script type="text/javascript" src="bundle/bundle.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#rev_slider_280_1").show().revolution({
            sliderType: "hero",
            sliderLayout: "fullscreen",
            dottedOverlay: "none",
            delay: 9000,
            /*navigation: {},*/
            responsiveLevels: [1240, 1024, 778, 480],
            visibilityLevels: [1240, 1024, 778, 480],
            gridwidth: [1240, 1024, 778, 480],
            gridheight: [868, 768, 960, 720],
            lazyType: "none",
            parallax: {
                type: "off",
                origo: "slidercenter",
                speed: 1000,
                levels: [0],
                type: "scroll",
                disable_onmobile: "on"
            },
            shadow: 0,
            spinner: "spinner2",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "",
            disableProgressBar: "on",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
                simplifyAll: "off",
                disableFocusListener: false,
            }
        });

    });
    /*ready*/
</script>
<!-- JS end -->


</body>
</html>